ul li{
    list-style: none;
}
body {
    
    background-color: beige;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font-inter {
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-raleway{
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header{
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
    text-align: center;   
}
a{
    text-decoration: none;
}
.btn-primary{
    background-color: skyblue;
    font-weight: bold;
    font-size: 20px;
    color: lightblue;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.contener-with-masuma-fix{
    margin: 0 auto;
    width: 1140px;
}



/* nav styles */

nav{
    margin: 0px 160px;
}
.banner-content button{
margin: 0px auto;
}

main{
    margin: 0px auto;
    width: 1140px;

}
/* action section */
.action-section img{
    border-radius: 48px;
    margin: 100px 0px;

}
.user-section{
    text-align: center;
    background-color: hsla(242, 100%, 64%, 0.197);
    border-radius: 24px;
    padding: 70px 150px;
}

.section-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 0px;

}


.user-section .data h1{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #4E47FF;
}
.user-section .data p{
    font-size: 20px;
    color: rgba(0, 128, 0, 0.827);
}

/* get in touch style */
.in-touch-section{
    margin: 100px 0px;
}

.in-touch-title{
    font-size: 97px;
    font-weight: bold;
}

form input, button, textarea{
    display: block;
    width: 495px ;
    padding: 20px 30px;
    border: none;
    margin: 10px 0px;

}
form .get-in-btn{
    /* width: 100%; */
}


/* footer section */
footer{
    text-align: center;
    background-color: white;
    padding: 100px;
}

footer h1 {
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}

ul li{
    list-style: none;
    margin-left: 50px;

}

li a{
    text-decoration: none;
    color: seagreen;
}
ul{
    display: flex;
    justify-content: center;
}
.card {
    margin: 100px 0px;
    gap: 50px;
}
.card section{
    padding: 24px ;
    border-radius: 10px;
    background-color: white;
}


.card section section{
    display: flex;
    align-items: center;
    gap: 20px;
    

}
.cyber img{
    border-radius: 50%;

}


